.class-list {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: inherit;
}
.no-classes-found {
  display:flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: medium;
  color: rgb(94, 94, 94);
}