.App {
  text-align: center;
  /*background-color: #e1e9f5;*/
  align-items: center;
  justify-content: center;
  padding: 0;
}

.AppBarContainer {
  display: flex;
  flex-grow: 1;
}

.AppBar {
  flex-grow: 1;
}

.AppBarTitle {
  flex-grow: 1;
  padding: 5px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.AppBarMenuButton {
  padding: 5px !important;
}
